.header-wrapper{
// border: 3px solid red;
// position: fixed;
z-index: 20;
height: 81px;
&.sticky{
    position: fixed;  
}
&.not-sticky{
    border-bottom: 1px solid #D8D9DB;
}
transition: background-color .5s;}

header {
    position: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    // border: 3px solid black;
    // z-index: 12;
    // position: fixed;
  
    
    // justify-content: space-around;
    align-items: center;
    // padding: 10px;
    // display: flex;
    // justify-content: space-between;
    
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
        
    }
    nav {
         z-index: 2;
        // border: 2px solid blue;
        justify-content: space-between;
        color: $clr6;
        // padding: 5px 0;
        font-size: 16px;
        align-items: right;
        // font-family: 'Work Sans', sans-serif;
        width: 30%;
        .nav-links{
            justify-content: right;
            width: 100%;
            align-items: center;
            // border: 1px solid yellow;
            font-weight: bold;
        // font-family: 'Work Sans', sans-serif;
        font-size: 15.5px;
        
        &.not-sticky{
            background-color: black;
            
            router-link{
             color: black;
            }
        }
    }
        
        .join-btn{
        border: 1px solid white;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        // border: 3px solid red;
        font-size: 14px;
        width:90px;
        height: 30px;
        margin-left: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        background-color: none;
        transition: background-color .3s, color .3s,border .3s;
        &.not-sticky{
            border-color: #19A463;
            color: #19A463;
             height: 38px;
             width:78px;
          
        }
        
    }
    .join-btn:hover{
        background-color: #19A463;
        border-color: #19A463;
         &.not-sticky{
            background-color: #19A463;
            color: #f7fffb;
          
        }

    }
    }
    // nav a:not(:first-child) {
    //     // border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    nav .active {
    color: $clr1;
    }
    
    .logo{
    margin-left: 0%;
    width: 10%;

    }
    
}

.sub-header-labels{
 
    height: 41px;
   display: flex;
   align-items: center;
    &.homePage{
    // align-items: center;
    // margin-top: 36px;
    background-color:#ffffff;
    position:fixed;
    height: 41px;
    margin-top: 81px;
    z-index: 10;
    }
    >.fixed-lables{
     margin: auto;
     display: flex;
     width: 1400px;
     justify-content: space-between;

    }
     h4{
    color: #717173;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform:capitalize;
    cursor: pointer;
     
   }
}
     a{
            color: white;
            text-decoration-color: aliceblue;
            font-family: 'Work Sans', sans-serif;
            margin-left: 20px;

            
}
// a:visited {
//             color: green;
//             }

.change_color {
       background-color:white;
       color:black;
       a{
            color: black;
            text-decoration-color: aliceblue;
            font-family: 'Work Sans', sans-serif;
            margin-left: 20px;
        }
        .join-btn{
        border: 1px solid #19A463 ;
        color: #19A463;

         }
         .join-btn:hover{
        color: #ffffff;

    }
.logo{
    margin-left: 0%;
    width: 10%;

    }
}

