.display-checkout-modal {
    border: 5px solid red;
    // background-color: black;
    position: absolute;
    // transform:translateX(50%);
    // left: 150%;
    // right: 10px;
    z-index: 50;
    // border: 1px solid rgba(95, 94, 94, 0.185);
    height: 100vh;
    border-radius: 4px;
    align-content: center;
    // transition: left 1s ease-in-out;
    // &.modal-open{
    //     transition: transform 4s ease-in-out;
    //     transform:translateX(-150%);

    //     background-color: #000;
    //     margin-left:0%;
    // }


    .modal-open {
        // transition: left 5s ease-in-out;
        left: 70%;
        // transform:translateX(-150%);

        // background-color: #000;
        // margin-left:0%;

        .checkout-conteiner {
            margin-left: 50px;
            width: 530px;
            height: 100vh;


        }

        .checkout-header {
            font-size: 16px;
            line-height: 24px;
        }

        .F4HBtqu {
            color: #404145;
            font-weight: 600;
            padding: rem(12px) 0;
            border: 1px solid green;

            /* &:hover{
        border: 1px solid ;
    } */

        }

        .PKFZREU {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            background-color: #fff;
            border: 1px solid #dadbdd;
            border-radius: 8px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #404145;
            cursor: pointer;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            justify-content: center;
            margin-bottom: 12px;
            padding: 20px;
            width: 100%;
            margin: 0;
            outline: 0;
        }

        .asNFhyE {
            border-color: #1dbf73;
            border-width: 2px;
            cursor: default;
            padding: 19px;
        }

        .flex-items-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .iZnzrBK {
            padding: 0;
        }

        .eGIcTVJ {
            border-top: 1px solid #dadbdd;
            color: #404145;
            font-size: 14px;
            padding-top: 20px;
            width: 100%;
        }

        .ii7ZaAL {
            background-color: #f5f5f5;
            border-radius: 8px;
            color: #404145;
            padding: 32px;
        }

        .CWqLIG3,
        .CddSubE {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .text-display-2 {
            color: #404145;
            font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        .m-b-8 {
            margin-bottom: 8px;
        }

        .tbody-6,
        .text-body-2 {
            font-size: 14px;
            line-height: 21px;
        }

        .CWqLIG3 {
            border-top: 1px solid #dadbdd;
            margin-top: 24px;
            padding-top: 24px;
        }

        .flex-between {
            justify-content: space-between;
        }

        .flex-col {
            flex-direction: column;

        }

        .gap-10 {
            gap: 10px;
        }

        .font-size-32 {
            font-size: 32px;
        }
    }
}