
.delivery-time-modal, .budget-modal-container{
    // justify-content: space-between;
    background-color: rgb(254, 254, 254);
    border-style: solid;
    border-width: 1px;
    z-index: 10;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    align-items: center;
    position: absolute;
    margin-left: 5px;
    // width: 250px;
    // height: auto;
    padding: 20px;
    // transition: .5s;
    input{
        padding: 10px;
    }
    .apply-button{
        cursor: pointer;
        &:hover{
            background-color: #188652;
            transition: .3s;
        }
    }
}
