// .card{
//   background-color: #1DBF73;
//   &:hover{

//       color: #1DBF73;
//       background-color: #1DBF73;

//   }
//  }
.clients-logo{
  width: 24px;
  height: 24px;

}
.client-logo-wraper{
  display: flex;
  justify-content: space-evenly;
  width: 32%;

}
.gig-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    // background-color: $clr2;
    // color: $clr6;
    // padding: 5px;
    // margin: 5px;
    background-color: #1d2dbf;

    &:hover {
      h4 {
        color: #1DBF73;
      }

      color: #1d2bbf;
      background-color: #1DBF73;

    }
  }

  a {
    color: $clr1;
    padding: 10px;
  }

  pre {
    background-color: #ddd;
    font-size: .5em;
    color: #333;
    // padding: .2em;
    // margin: .2em;
  }

  >*.card {
    height: 23.937rem;
    width: 20.40rem;
  }

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
  // grid-gap: 20px;
  gap: 31.3px;
  justify-content: space-evenly;
}

// .custom-card{
//     justify-content: space-between;
//     background: white;
//     width: 100%;
//     height: 100%;
//     border: 1px solid black;
//     border-radius: 5px;
//     .card-header{
//         height: 50%;
//         border: 1px solid black;

//     }
//     .card-main{
//     height: 8.75rem;
//     border: 1px solid black;
//     text-align: center;
//     background-color: blue;
//     }
//     .card-footer{
//     border: 1px solid black;
//     height: 3.75rem;
//     font-size: 1rem;
//     color: gray;
//     }
// }
.custom-card {
  justify-content: space-between;
  background: white;
  height: 100%;
  width: 100%;
  border: 1px solid #D8D9DB;

  // border-radius: 5px;
  header {
    font-size: 2rem;
    height: 51%;
    padding: 0;

    .card-img {
      width: 100%;
      height: 100%;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 37%;
    color: black;
    padding: 0;
    width: 100%;
  }

  footer {
    display: flex;
    // align-items: center;
    height: 12%;
    border-top: 1px solid #D8D9DB;
    font-size: 1rem;
    color: gray;
    // padding: 8% 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .btn-group {
      // border:1px solid black;
      display: flex;
      flex-direction: row;
      width: 52%;
      height: 70%;
      margin-left: 38%;
      margin-right: 0.75em;
      // text-align: center;
      align-items: center;
      justify-content: end;

      .starting-at {
        font-size: 11px;
        font-weight: 600;
        transform: translatey(12%);
      }

      .card-gig-price {
        font-size: 18px;
        margin-left: 7px;
        color: #333;
      }
    }


    .card-fav-hart {
      // background-image: url("../../imgbin_color-paper-grey-white-png.png");
      background-position: center;
      background-size: contain;
      padding: 0;
      margin-left: 2.9%;
      background-repeat: no-repeat;
      height: 49%;
      width: 7%;
    }

    // border: 1px solid #D8D9DB;

  }
}

.card-main-header {
  position: relative;
  width: 100%;
  // border: 1px solid #D8D9DB;
  display: flex;
  padding-left: 12px;
  align-items: center;
  // margin-bottom: 5px;
  // padding: 12px;
  height: 40%;

  >.card-seller-img {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid #D8D9DB;
    width: 7.8%;
    height: 43%;
    border-radius: 50%;
    padding: 0;
    margin-right: 2.5%;
  }

  >.card-seller-online {
    position: absolute;
    left: 8%;
    top: 29%;
    width: 2.8%;
    height: 17%;

    border: 1px solid #ffffff;
    background-color: #1DBF73;
    border-radius: 50%;
  }

  >.card-seller-name-rating {
    // border: 1px solid #D8D9DB;
    width: 39%;
    text-align: left;
    padding-bottom: 3%;

    .card-seller-name {
      font-size: 14px;
      line-height: 1.8;
      font-weight: bold;
      margin-top: 2%;
      font-family: 'Work Sans', sans-serif;
    }

    .card-seller-level {
      font-size: 14px;
      font-family: 'Work Sans', sans-serif;
      line-height: 1;
      font-weight: 100;
      color: rgb(107, 106, 106);
    }
  }

  >.card-seller-clients {
    // border: 1px solid #D8D9DB;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    width: 18%;
    text-align: right;
  }
}
.vueperslides__parallax-wrapper{
&::before{
box-shadow: none !important;
}
&::after{
  box-shadow: none !important;
}
}
.card-main-center {
  overflow: hidden;
  height: 30%;

  //  border: 1px solid #D8D9DB;
  >h4 {
    text-align: start;
    // font-weight: 500;
    font-weight: 200;
    color: #222325;
    padding: 0.1rem 0.73rem;
    line-height: 21px;
    letter-spacing: 0.01px;
    font-size: 16px;
  }
  
}
.card-main-footer {
  height: 28%;
  font-size: 14px;
  color: #FFBE5B;
  align-items: center;
  //  justify-content: center;
  //  border: 1px solid #D8D9DB;
  padding: 11px;
  padding-top: 21px;
}


.ratingProject {
  margin-left: 5px;
  font-size: 14px;
  color: #B5BCD0;
}

.card-mid-footer-star {
  margin-right: 7px;
}

//////////////////vuper
.vueperslide--visible{
// border-radius: 5px;
}





.homepage-slider {
  
  .vueperslide--visible{
    border-radius: 5px;
    }
  .vueperslides__arrow--prev,
  .vueperslides__arrow--next {
    background-color: #fff;
    background: #fff;
    border: 0;
    border-radius: 28px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    font-size: 5px;
    height: 48px;
    line-height: 100%;
    margin-top: -24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(0%);
    opacity: 1;
    width: 48px;
    svg{
      color: #555555 !important;
      stroke-width: 3px !important;
     }
  }

  .vueperslides__arrow--next {
    right: -30px;
  }

  .vueperslides__arrow--prev {
    left: -30px;
  }

  .vueperslide__title {
    position: absolute;
    top: 1.0em;
    left: 1em;
    font-size: 0.875em;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-start;
  }

  .vueperslide__content {
    position: absolute;
    top: 1.5em;
    left: 0.65em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    display: flex;
  }

  .vueperslide__content-wrapper {
    position: relative;
  }
  .vueperslides__bullets{
  display: none;
  }

}

.bot-details-slider{
  .vueperslide{
    margin-right: 4px !important;
  
  }

  .vueperslide vueperslide--active{
  margin-right: 0px !important;
  }
.vueperslide vueperslide--visible{
  margin-right: 0px !important;
}

  .vueperslides__arrow--next,
  .vueperslides__arrow--prev{
    background-color: #ffffff6e;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 73px;
    svg{
      color: #555555 !important;
      stroke-width: 3px !important;
     }

  }

  .vueperslides__arrow--next{
  right:0px;
  svg{
    transform: translateX(-10px);
  }
  
  }
  .vueperslides__arrow--prev{
    left:0px;
    svg{
      transform: translateX(-10px);
    }
    }

  .vueperslides__arrow svg {
    vertical-align: middle;
    stroke: currentColor;
    fill: none;
    width: 2.5em;
    padding: 1em;
    stroke-width: 1;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}
}

.details-slider {

  .vueperslides__arrow--prev,
  .vueperslides__arrow--next {
    background-color: #fff;
    background: #fff;
    color: black;
    border: 0;
    border-radius: 28px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    font-size: 5px;
    height: 48px;
    line-height: 100%;
    margin-top: -24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(0%);
    opacity: 1;
    width: 48px;
    svg{
     color: #555555;
     stroke-width: 3px;
    }
  }
  .no-shadow{
    .vueperslides__arrow
    {
      vertical-align: middle;
      stroke: currentColor;
      fill: none;
      width: 2.5em !important;
      padding: 1em;
      stroke-width: 1;
      transition: .3s ease-in-out;
      box-sizing: border-box;
    }
  }

  .vueperslides__arrow--next {
    right: -30px;

  }

  .vueperslides__arrow--prev {
    left: -30px;
  }
}

.preview-slider {


  .vueperslides__arrow--prev,
  .vueperslides__arrow--next {
    color: #000000;
    background-color: white;
    border-radius: 50%;
    font-size: 4px;
    opacity: 1;
    top: 75px;
    border: 1px solid #B5BCD0;
  }

  .vueperslides__arrow--next {
    right: -1px;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(+126%);
    svg{
      transform: translateX(-4px);
      
    }

  }

  .vueperslides__arrow--prev {
    left: -1px;
    border-radius: 0px 15px 15px 0px;
    // left: -12px;
    transform: translateX(-124%);
   
      svg{
        transform: translateX(4px) !important ;
      
    }
  }
  //grandfather of arrows
  .vueperslides__inner {
    overflow: hidden;

    &:hover {
      .vueperslides__arrows {
        .vueperslides__arrow--prev{
        transform: translateX(-48%);
        }
        .vueperslides__arrow--next {
          // background-color: #1d2bbf;
          transform: translateX(+48%);
        }
      }

    }

  }

  .vueperslides__bullets,
  .active {
    background-color: #1d2bbf;

    &.default {

      // height: 150px;
      &.active {
        background-color: #1d2bbf;
        // height: 150px;
      }
    }

    // height: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.025);
    display: flex;
    justify-content: center;
    align-items: center;

    .default {
      height: 5px;
      width: 5px;
      background-color: #ffffff;

      &.active {
        height: 70px;
      }
    }
  }

  .vueperslides__parallax-wrapper {
    :after {
      background-color: #1d2bbf;
      
    }

    &:before {
      background-color: #39a80d;
      box-shadow: transparent
    }
  }


} 
