

.alert {
    background-color: rgb(9, 9, 9);
    padding: 1em;
    position: fixed;
    top: rem(5px);
    right:2%;
    width: 20%;
    text-align: center;
    z-index: 100;
    img{
        height: rem(20px);
        width: rem(20px);
    }
    &.alert-success {
        margin: 0 auto;
        background-color: rgba(44, 44, 44, 0.961);
        color: rgb(218, 218, 218);
        font-weight: bold;
        border: rem(1px) solid rgba(251, 251, 251, 0.273);
        border-radius: rem(6px);
    }
    &.alert-error {
        background-color: lightcoral;
    }
}

