

.alert {
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: fixed;
    top: rem(5px);
    right:2%;
    width: 20%;
    text-align: center;
    z-index: 100;
    justify-content: space-between;
    h1{
        color: black;
    }
    h4{
        color: rgb(72, 72, 72);
        font-weight: 300;
        font-size: 14px;
    }
    img{
        margin-top: 11px;
        height: rem(20px);
        width: rem(20px);

    }
    &.alert-success {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.955);
        color: rgb(11, 137, 0);
        font-weight: bold;
        border: rem(1px) solid rgba(52, 52, 52, 0.124);
        border-radius: rem(9px);
    }
    &.alert-error {
        background-color: lightcoral;
    }
}

.my-btn, .my-btn-border, .btn-bell {
	border-radius: 50%;
	position: absolute;
}
.my-btn {
	height: 40px; 
	width: 40px;
	box-shadow: -1px 2px 10px #999;
	background: #009005;
	animation-name: col;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.my-btn-border {
	height: 50px; 
	width: 50px;
    margin-top: 20px;
    margin-left: 20px;
	border: 1px solid #008307 !important;
	animation-name: bord-pop;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc ;
}
.btn-bell {
	color: white;
	font-size: 20px;
	animation-name: bell-ring;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes bord-pop {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.9);
		opacity: 0.1;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.9);
		opacity: 0;
	}
}
@keyframes col {
	0% {
		transform: scale(1) translate(0,0);
	}
	10% {
		transform: scale(1.1) translate(0,0);
	}
	75% {
		transform: scale(1) translate(0,0);
	}
	100% {
		transform: scale(1) translate(0,0);
	}
}
@keyframes bell-ring {
	0% {
		transform: translate(-50%, -50%);
	}
	5%, 15% {
		transform: translate(-50%, -50%) rotate(25deg);
	}
	10%, 20% {
		transform: translate(-50%, -50%) rotate(-25deg);
	}
	25%  {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

