.container {
    // max-width: 2000px;
    width:100vw;
    // padding: 10px;
}
.main-layout {
    width: 75%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-left: 32px;
    padding-right: 32px;
}


.main-container {
    display: grid;
    // grid-template-columns: 12.8% 1fr 12.8%;
    grid-template-columns: minmax(32px,1fr) minmax(auto,1400px) minmax(32px,1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}
body{
   width: 100vw;
   padding:0 12.8% 
}

