
.sub-header-labels{
    &.gig-list{
    width: 1400px;
    }
    
   height: 41px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   h4{
    color: #717173;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform:capitalize;
    letter-spacing: 0.01px;
    cursor: pointer;
    
   }
}
.lable-container-list{
    justify-content: space-around;
    border-bottom: 1px solid #D8D9DB;
}
.filter{
    transition: background-color 0.3s,box-shadow 0.7s;
}
.change-position{
position: fixed;
background-color: white;
height: 54px;
z-index: 7;
top:0;
padding:6px 250px 0 250px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.user-rating{
    margin-top: 2px;
}
.ratingProject{
    font-size: 13px;
    margin-top: 3px;
}

.catagory-header{
    font-size: 32px;
    color: #222325;
    padding-bottom: 0;
    text-transform: capitalize;
}

.catagory-subheader{
    display: inline-block;
    color: #95979d;
    text-align: left;
    padding-right: 10px;
    font-size: 16px;
}

