.addgig-main-container{
    background-color: #f7f7f7;
    height: rem(800px);
    display: flex;
    justify-content: center;

    .addgig-price-ctn{
        
    }
    .addgig-forms-container{
        width: rem(1000px);
        height: rem(600px);
        margin-top: rem(50px);
        background-color: #ffffff;
        padding: rem(30px);
        border-radius: rem(5px);
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.121);
        border-width: rem(1px);
        text-align: center;

        input{
            position: relative;
            border-radius: rem(8px);
            padding: rem(10px);
            height: rem(80px);
            width: rem(600px);
            margin-top: rem(10px);
            margin-left: rem(180px);
            text-align: center;
            align-content: center;
        }
        .gig-add-img-picture{
            height: rem(100px);
            width: rem(100px);
            cursor: pointer;
  
        }
        .gig-image-title{
            display: flex;
            justify-content: left;
            margin-left: rem(20px);
        }
    }
    .addgig-buttons button{
        background-color: #1dbf73;
        
        color: white;
        font-size: rem(16px);    
        text-transform: uppercase;
        border-radius: rem(6px);
        margin-top: rem(30px);
     
        &:hover{
            background-color: #20d380;
            cursor: pointer;
        }
    }
}