.review-container{
    display: flex;
    flex-direction: row;
    .review-avatar-img{
    .avatar-img{
        width: rem(48px);
        height: rem(48px);
        border-radius: 50%;
        align-content: center;
        margin-right: rem(16px);
    }
}
.review-right-info{
    display: flex;
    flex-direction: column;
    .review-user-details{
    display: flex;
    flex-direction: row;
    gap: rem(10px);
    margin-bottom: rem(14px);
    h5{
        
        .reviewer-name{
            display: flex;
        font-size: rem(15px);
        align-items: center;
        margin-bottom: rem(14px);
        height: rem(16px);

        }
        .reviewer-country{
        font-weight: lighter;
        display: flex;
        font-size: rem(12px);
        font-weight: 300;
        margin-bottom: rem(20px);
        .reviewer-flag{
            width: rem(20px);
            height: rem(15px);
            margin-right: rem(7px);
        }
        }
        .stars-and-published{
         height: rem(21px);
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         .stars{
          font-size: rem(21px);
          letter-spacing: rem(1.2px);
          color: #FFB33E;
          .rate-num{
        font-size: rem(14px);
        margin-left: rem(2px);
         }
         }
         .rate-reviewedAt-border{
            height: 80%;
            border-right: rem(1px) solid rgb(235, 235, 235);
            margin: 0 rem(6px);
         }
         .review-user-review{
         display: flex;
         align-items: center;
         font-size: rem(14px);
         font-weight:300;
         padding-top:rem(5px);
         }
        }
    
    }
}
.gig-like-title{
    font-size: 12px;
}
.review-user-comment{
    margin-bottom:rem(16px) ;
    h5{
        font-size: rem(16px);
        font-weight: 400;
    }
}

    .review-user-comment{
        h5{

        }
    }
    .review-helpful-selector{
    font-size: rem(14px);
    font-weight: 400;
    .review-like-btn:hover, .review-dislike-btn:hover{
        cursor: pointer;
    }
    .review-like-active{
        color: rgb(0, 107, 0);
        font-weight: bold;
    }
    .review-dislike-active{
        color: red;
        font-weight: bold;
    }
    span{
        margin-right:rem(6px);
    }
    }
}
}



