.review-container{
    display: flex;
    flex-direction: row;
    .review-avatar-img{
    .avatar-img{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        align-content: center;
        margin-right: 16px;
    }
}
.review-right-info{
    display: flex;
    flex-direction: column;
    .review-user-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 14px;
    h5{
        
        .reviewer-name{
            display: flex;
        font-size: 15px;
        align-items: center;
        margin-bottom: 14px;
        height: 16px;

        }
        .reviewer-country{
        font-weight: lighter;
        display: flex;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 20px;
        .reviewer-flag{
            width: 20px;
            height: 15px;
            margin-right: 7px;
        }
        }
        .stars-and-published{
         height: 21px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         .stars{
          font-size: 21px;
          letter-spacing: 1.2px;
          color: #FFB33E;
          .rate-num{
        font-size: 14px;
        margin-left: 2px;
         }
         }
         .rate-reviewedAt-border{
            height: 80%;
            border-right: 1px solid rgb(235, 235, 235);
            margin: 0 6px;
            // margin-bottom: 12px;

         }
         .review-user-review{
         display: flex;
         align-items: center;
         font-size: 14px;
         font-weight:300;
         padding-top:5px;
         }
        }
    
    }
}
.gig-like-title{
    font-size: 12px;
}
.review-user-comment{
    margin-bottom:16px ;
    h5{
        font-size: 16px;
        font-weight: 400;
    }
}

    .review-user-comment{
        h5{

        }
    }
    .review-helpful-selector{
    font-size: 14px;
    font-weight: 400;
    .review-like-btn:hover, .review-dislike-btn:hover{
        cursor: pointer;
    }
    .review-like-active{
        color: rgb(0, 107, 0);
        font-weight: bold;
    }
    .review-dislike-active{
        color: red;
        font-weight: bold;
    }
    span{
        margin-right:6px;
    }
    }
}
}



